/* ПЕРВЫЙ БЛОК */
.intro {
  position: relative;
  z-index: 1;
  background: url(../../assets/images/bg/intro.webp) no-repeat center/cover;
}

@media (max-width: 575px) {
  .intro .my-container {
    padding-bottom: 12.5rem;
  }
}

.intro::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.85;
}

.intro__text {
  max-width: 400px;
}

.intro .grid {
  grid-template-columns: 1fr 300px;
}

@media (max-width: 991px) {
  .intro .grid {
    grid-template-columns: 1fr;
  }
}

.intro__btn-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  font-size: var(--fz-l);
  font-weight: 500;
  color: rgb(64, 64, 64);
  margin-top: var(--size-large);
}

@media (max-width: 575px) {
  .intro__btn-wrap {
    gap: 2rem;
  }
}

.intro__btn-wrap .btn {
  padding: 1.8rem 4.6rem;
}

.intro__col {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.info {
  background-color: #fff;
  padding-top: 5rem;
}

.info-list-wrap,
.info .info-list {
  display: flex;
  border-left: 2px solid var(--color-theme);
}

.info-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5.5rem;
  gap: 3rem;
  line-height: 1.4;
}

@media (max-width: 575px) {
  .info-list {
    padding-left: 3.2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.info-list__numbers {
  display: block;
  color: var(--color-title);
  font-weight: 300;
  line-height: 1;
  font-size: 4.5rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 576px) {
  .preference-row {
    row-gap: var(--size-large);
  }
}


/* БЛОК ПРЕИМУЩЕСТВА */
.preferences {}

.preference {
  padding-left: var(--padding);
  padding-right: var(--padding);
  border-left: 2px solid var(--color-theme);
}

@media (max-width: 575px) {
  .preference {
    padding-left: 2rem;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
  }
}


/* БЛОК КЕЙСЫ */
.cases {
  background-color: var(--color-gray);
}

.cases__wrap {
  margin-bottom: -47px;
}

.cases__title {
  margin-bottom: 0;
}

.cases__right {
  grid-column: span 2;
  border-radius: var(--radius);
  overflow: hidden;
}


@media (max-width: 991px) {
  .cases__btns {
    display: flex;
    justify-content: center;
    transform: translateY(-3rem);
  }
}

@media (max-width: 575px) {
  .cases__btns {
    transform: translateY(-2rem);
  }
}

.cases [class*=swiper-button-] {
  width: 4.7rem;
  height: 4.7rem;
  border-radius: 50%;
}

.cases--main [class*=swiper-button-] {
  position: static;
}

.case {
  display: flex;
  gap: 3rem;
  padding: 3rem;
  background-color: #FFF;
  border-radius: var(--radius);
}

@media (max-width: 991px) {
  .case {
    padding-bottom: 15rem;
  }
}

@media (max-width: 767px) {
  .case {
    flex-direction: column;
    padding-bottom: 11rem;
  }
}

@media (max-width: 575px) {
  .case {
    padding: 2rem;
    padding-bottom: 10.7rem;
    gap: 3.5rem;
  }
}

.case__title {
  margin-bottom: 0;
}

.case__link {
  display: inline-flex;
  align-items: center;
}

.case__link:after {
  content: "";
  margin-left: 4px;
  width: 13px;
  height: 14px;
  background-image: url(../../assets/images/icons/icon-link.svg);
  -o-object-fit: contain;
  object-fit: contain;
}

.case__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

@media (max-width: 575px) {
  .case__content {
    gap: 3.5rem;
  }
}

.case__content p:first-child {
  margin-top: 0;
}

.case__content p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .case__content {
    width: 47%;
  }
}

@media (min-width: 768px) {
  .case__img {
    width: 58.4%;
  }
}

@media (max-width: 767px) {
  .case__img {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

@media (max-width: 575px) {
  .case__img {
    gap: 3.5rem;
  }
}

.case img {
  -o-object-fit: cover;
  object-fit: cover;
}

.case .btn {
  font-size: var(--fz-l);
  padding: 1.3rem 2.9rem;
}

@media (max-width: 767px) {
  .case .btn {
    width: 100%;
  }
}


/* БЛОК С ФОРМОЙ */
.form-block {
  padding-bottom: 13.5rem;
}

@media (max-width: 767px) {
  .form-block {
    padding-top: 12rem;
    padding-bottom: 10rem;
  }
}

@media (max-width: 575px) {
  .form-block {
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
}


/* НАШИ УСЛУГИ */
.services {}

.service {
  display: flex;
  flex-direction: column;
}

.service p:first-of-type {
  margin-top: 0;
}

.service img {
  display: block;
  margin-bottom: 2rem;
}

.service__btn-wrap {
  display: flex;
  align-items: center;
  margin-top: auto;
  gap: 2.4rem;
  padding-top: 3.8rem;
}

@media (max-width: 575px) {
  .service__btn-wrap {
    padding-top: 2rem;
  }
}

@media (max-width: 430px) {
  .service__btn-wrap {
    gap: 1.6rem;
  }
}

.service__price {
  font-size: var(--fz-l);
  font-weight: 500;
  color: var(--color-title);
}


.services__link {}

@media (max-width: 430px) {
  .services__link {
    margin-top: var(--size-small);
  }
}
