/* МОДАЛЬНОЕ ОКНО */
.modal {
  display: none;
  border-radius: 1rem;
  max-width: 650px;
  padding: 5rem 10rem;
  color: var(--color-text);
}

@media (max-width: 575px) {
  .modal {
    padding: 5rem;
  }
}

.modal h2 {
  margin-bottom: 2rem;
}

.modal p {
  margin: 0;
}

.modal form {
  margin-top: 4rem;
}
